rust_requests/target
rust_requests/.idea
clion_sqlite_build/target
sqlite_test/target
sqlite_test/.idea
clion_rocket/.idea
clion_rocket/target
my-app/.idea
functional_agent/.idea
functional_agent/target
reqwest_panic/target
functional_agent/dist
reqwest_panic/.idea
trait_impl/.idea
trait_impl/examples/demo/target
trait_impl/target
trait_impl/examples/demo/.idea
jest_test/node_modules
jest_test/.idea
